  .topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:96vh;
    border:  2px;
    width: 100%;
    margin-top: -1px;
    
  }

  .stuff{
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 6%;
    border:  1px;
    width: 100%;
    background-color: #fff;
  
  }

  #box:hover{
background-color: #ddd;
  }

  #boks:hover{
    background-color: #ddd;
      }

  #bokx:hover{
    background-color: #ddd;
  }
  #boxs:hover{
    background-color: #ddd;
  }
  #bos:hover{
    background-color: #ddd;
  }
  #bok:hover{
    background-color: #ddd;
  }
  #book:hover{
    background-color: #ddd;
  }
  #boox:hover{
    background-color: #ddd;
  }

h1{
  font-size: 50px;
  align-self: center;
}

p{
  font-size: 18px;
}

#join{
  color: #fff;
  font-family: sharp-grotesk-23-book;
  margin-top: 6%;
  border:  2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

  #dropbox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height:100%;
    border: 1px;
    width: 15%;
    
  }

  #box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height:100%;
    border:  1px;
    width: 25%;
   
  
  
}
#boks{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;
}

#bokx{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;
  
}
#boxs{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;
 margin-right: 20%;
}
#bos{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;
  
  
}
#bok{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;
 
}
#boox{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;
 
}
#book{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height:100%;
  border:  1px;
  width: 15%;

}
  
#buks{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height:100%;
  border:  1px;
  width: 100%;
  font-size: 90%;
}
 
#button{
  border: solid #fff 2px ;
 color: #000;
}

 button{
  display: block;
  background-color: 	#3984ff;
  color: #fff;
  min-width: 120px;
 min-height: 45px;
 font-size: 15px;
 font-weight: 550;
 margin-right: 4px;
 }

 button:hover{
  background-color: 	#73a9ff;
 }

 #boxu{
  font-size: 30px;
  margin-bottom: 50px;
 }

#buut{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3984ff;
  color: #000;
  width: 150px;
  font-weight: bolder;
}

#buut:hover{
  background-color: 	#73a9ff;
 }


 #dropbox{
  margin-left: -2px;
 }

 #hair{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

 #head{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  max-width: 48%;
 }
 #neck {
 display: flex;
 justify-content: center;
 text-align: center;
 color: #fff;
 float: right;
 max-width: 48%;
}

 #smiely{
  width: 100px;
 }

 #cloud{
  margin-left: 5%;
 }
 
#shield{
  margin-left: 5%;
}

 h3{
  font-size: 20px;
 }

 body{
  background-color: #111;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 a{
  text-decoration: none;
  color: #000;
  font-weight: 100;
 }

 @media screen and (max-width: 1000px) {
  #hovedbilde {
    width: 150%;
    height: 100%;
  }

  #boks{display: none;}
  #box{display: none;}
  #bokx{display: none;}
  #boxs{display: none;}
  #bos{display: none;}
  #bok{display: none;}
  #boox{margin-left: 50%;}
  #dropbox{margin-right: -6%;}
 }

 @media screen and (max-width: 670px) {
#button{display: none;}
#hair{ 
  display: flex;
  align-items: center;
  flex-direction: column;
}

 }
