body{
    margin: 0px;
}

#content{
    display: flex;
    background: #fe345d;
    flex-direction: column;
    text-align: center;
}

#content img{
 width: 100.1%;
margin-bottom: -4px;
}

#capybara{
    height: 800px;
}

#wierd_capybara{
    visibility: hidden;
    height: 1px;
}

#unusual_capybara{
    visibility: hidden;
}

#feet{
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    #content{
        height: 90vh
    }

    #wierd_capybara{
        visibility: visible;
        height: 450px;
    }

    #unusual_capybara{
        visibility: visible;
    }

#capybara{
    display: none;
}
#copybara{
    display: none;
}

    #feet{
        font-weight: 800;
        background-color: aqua;
    }
    
    
}